body {
  overflow-x: hidden;
}

.background-light {
  background-color: #f5f7fa;
}

.background-tint {
  background-color: #e8f5e9;
}

.background-green {
  background-color: #4caf4f;
}

.background-black {
  background-color: #263238;
}

.text-green {
  color: #4caf4f;
}

.text-dark-grey {
  color: #4d4d4d;
}

.text-grey {
  color: #717171;
}

.text-black {
  color: #263238;
}

.alternate-rounded-border {
  border-radius: 10px 5px 18px;
}

.leftsided {
  position: relative;
  top: -8px;
  left: -15px;
}

.slick-arrow {
  display: none !important;
}

.paragraph-center {
  max-width: 600px;
}

.slider-button {
  width: 15px !important;
  height: 15px !important;
  border-radius: 50% !important;
  background-color: #4caf4f !important;
}

::placeholder,
.text-silver {
  color: #f5f7fa;
}
